.aokoke_popup p {
  margin: 0;
}

.aokoke_popup .gallery {
  width: 100%;
  height: 100%;
  margin: 0;
}

.aokoke_popup figcaption {
  z-index: 2;
  position: absolute;
  width: 80%;
  top: 20%;
  bottom: 20%;
}

.aokoke_popup figcaption p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  background-color: #ffffff55;
  border-radius: 50%;
  word-wrap: normal;
}

.aokoke_popup .photo {
  position: absolute;
  width: 50%;
  height: 50%;

  overflow: hidden;
}

.aokoke_popup .photo.top {
  top: 0;
}

.aokoke_popup .photo.bottom {
  bottom: 0;
}

.aokoke_popup .photo.left {
  left: 0;
}

.aokoke_popup .photo.right {
  right: 0;
}

.aokoke_popup section p {
  z-index: 1;
  position: absolute;
  color: white;
  opacity: 0.7;
  font-weight: bolder;
}

.aokoke_popup p.top {
  top: 1rem;
}

.aokoke_popup p.bottom {
  bottom: 1.5rem;
}

.aokoke_popup p.left {
  left: 1rem;
}
.aokoke_popup p.right {
  right: 1rem;
}

.aokoke_popup img {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: #00000000;
}

.aokoke_popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.aokoke_popup.is_show {
  opacity: 1;
  visibility: visible;
  transition: 1s;
}

.aokoke_popup.is_hidden {
  transition: .8s;
}

.aokoke_popup .popup_inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  line-height: 80%;
  height: 90%;
  width: 70%;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.aokoke_popup .close_btn {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.aokoke_popup .close_btn i {
  font-size: 2rem;
  color: white;
}

.aokoke_popup .black_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
  transition: .6s;
}
